:root {
  --acсent-color: #2196f3;
  --primary-white-color: #ffffff;

  --dark-text-color: #212121;
  --black-text-color: #000000;
  --grey-text-color: #757575;
  --logo-color: #afb1b8;
  --transparent-text-color: rgba(255, 255, 255, 0.6);

  --dark-background-color: #2f303a;
  --grey-background-color: #f5f4fa;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  --primary-animate: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | RESET
  |============================
*/
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  |============================
  | FOR ALL SITE
  |============================
*/

body {
  background-color: var(--primary-white-color);
  color: var(--grey-text-color);
  font-size: 14px;
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--acсent-color);
}

.btn {
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 4px;
}

.section-title {
  color: var(--dark-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/**
  |============================
  | HEADER
  |============================
*/

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/*---------- Logo ----------*/

.logo {
  text-decoration: none;
  font-family: var(--logo-font);
  color: var(--acсent-color);
  font-size: 26px;
  line-height: 1.19;
}

.logo.top {
  margin-right: 92px;
}

.studio-black {
  color: var(--black-text-color);
}

.studio-white {
  color: var(--primary-white-color);
}

/*---------- Menu ----------*/

.navigation-list {
  display: flex;
  column-gap: 50px;
}

.menu {
  color: var(--dark-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.current {
  color: var(--acсent-color);
  position: relative;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--acсent-color);
  border-radius: 2px;
}

/* Contacts */

.contact-list {
  display: flex;
  column-gap: 48px;
}

.icon-contact {
  fill: currentColor;
  margin-right: 10px;
}

.contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

/**
  |============================
  | STUDIO
  |============================
*/

/*---------- Hero ----------*/

.hero {
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--dark-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  width: 693px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  background-color: var(--acсent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #188ce8;
}

/*---------- About us ----------*/

.section.no-padding {
  padding-top: 94px;
  padding-bottom: 0;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-item {
  width: 270px;
}

.about-icon {
  background-color: var(--grey-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title {
  color: var(--dark-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  padding-bottom: 10px;
}

.about-text {
  line-height: 1.71;
}

/*---------- What we do ----------*/

.img-list {
  display: flex;
  justify-content: space-between;
}

.img-item {
  position: relative;
}

.img-text {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

/*---------- Our Team ----------*/

.team {
  background-color: var(--grey-background-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-desc {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--logo-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link.join {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: var(--acсent-color);
  fill: var(--primary-white-color);
}

.team-title {
  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 16px;
}

/*---------- Cients ----------*/

.clients-list {
  display: flex;
  gap: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: var(--logo-color);

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus,
.client-link:active {
  fill: var(--acсent-color);
  border: 1px solid var(--acсent-color);
}

/**
  |============================
  | PORTFOLIO
  |============================
*/

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.portfolio-btn {
  background-color: var(--grey-background-color);
  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  padding: 6px 22px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list .portfolio-btn.active {
  background-color: var(--acсent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn:active {
  background-color: var(--acсent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link {
  display: block;

  transition-property: border, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus,
.portfolio-link:active {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--grey-text-color);
}

.portfolio-link:hover .portfolio-desc,
.portfolio-link:focus .portfolio-desc,
.portfolio-link:active .portfolio-desc {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-name {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title {
  color: var(--dark-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.875;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.556;
  padding: 63px 24px;
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | FOOTER
  |============================
*/
.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.address {
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
}

.physical-adds {
  color: var(--primary-white-color);
  text-decoration: none;
}

.contact-adds {
  color: rgba(255, 255, 255, 0.6);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.join-text {
  font-weight: 700;
  color: var(--primary-white-color);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.follow-form {
  position: relative;
  display: flex;
  align-items: center;
}

.follow-title {
  color: var(--primary-white-color);
  line-height: calc(16 / 14);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.follow-label {
  font-size: 16px;
  line-height: calc(s20 / 16);
  color: rgba(255, 255, 255, 0.6);

  position: absolute;
  left: 16px;
  top: 15px;

  opacity: 1;

  transition: opacity var(--primary-animate);
}

.follow-field {
  width: 358px;
  height: 50px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--primary-white-color);
  margin-right: 12px;
}

.follow-field:focus + .follow-label,
.follow-field:not(:placeholder-shown) + .follow-label {
  opacity: 0;
}

.follow-btn {
  color: var(--primary-white-color);
  background-color: var(--acсent-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  font-weight: 700;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.follow-icon {
  fill: var(--primary-white-color);
}

/**
  |============================
  | MODAL WINDOW
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(360deg);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  animation: magic 0.75s 2 0.1s;

  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px;
}

.close-btn {
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: fill var(--primary-animate);
}

.close-btn:hover,
.close-btn:focus,
.close-btn:active {
  fill: var(--acсent-color);
}

.order-title {
  display: block;
  margin-bottom: 12px;
  color: var(--dark-text-color);
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
}

.connect-group {
  margin-bottom: 20px;
}

.connect-wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.connect-wrap:not(:last-child) {
  margin-bottom: 10px;
}

.connect-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--grey-text-color);
}

.connect-field {
  font-size: 14px;
  line-height: calc(16 / 14);
  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: transparent;
  color: var(--grey-text-color);

  transition: border-color var(--primary-animate);
}

.connect-field:focus {
  border-color: var(--acсent-color);
}

.connect-icon {
  position: absolute;

  left: 12px;
  bottom: 11px;
  fill: var(--dark-text-color);

  transition: fill var(--primary-animate);
}

.connect-field:focus + .connect-icon {
  fill: var(--acсent-color);
}

.connect-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  color: var(--grey-text-color);
  font-size: 12px;
  line-height: calc(14 / 12);

  transition: border-color var(--primary-animate);
}

.connect-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: calc(14 / 12);
}

.connect-comment:focus {
  border-color: var(--acсent-color);
}

.connect-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 8px;
}

.connect-agreement-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  user-select: none;
}

.connect-policy {
  text-decoration-line: underline;
  color: var(--acсent-color);
  text-underline-position: under;
}

.icon-uncheck {
  transition: opacity var(--primary-animate);
}

.connect-checkbox:checked + .connect-agreement-icon > .icon-uncheck {
  opacity: 0;
}

.icon-check {
  opacity: 0;
  fill: var(--acсent-color);
  transition: opacity var(--primary-animate);
}

.connect-checkbox:checked + .connect-agreement-icon > .icon-check {
  opacity: 1;
}

.connect-checkbox:focus + .connect-agreement-icon {
  outline: 2px solid var(--acсent-color);
  outline-offset: 1px;
  border-radius: 2px;
}

.connect-btn {
  padding: 10px 52px;
  color: var(--primary-white-color);
  background-color: var(--acсent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--primary-animate);
}

.connect-btn:hover,
.connect-btn:focus,
.connect-btn:active {
  background-color: #188ce8;
}
